/CSharpJWT/bin
/CSharpJWT/obj
/OAuthServer/bin
/OAuthServer/obj
/.vs/CSharpJWT/v16/.suo
/.vs/CSharpJWT/v16/Server/sqlite3/db.lock
/.vs/CSharpJWT/v16/Server/sqlite3/storage.ide
/.vs/CSharpJWT/v16/Server/sqlite3/storage.ide-shm
/.vs/CSharpJWT/v16/Server/sqlite3/storage.ide-wal
/.vs/CSharpJWT/DesignTimeBuild/*.dtbcache
/Client1/bin
/Client1/obj
/bin
/plugins
/obj
/hobbygraph-data/databases/graph.db/neostore
/hobbygraph-data/databases/graph.db/neostore.counts.db.a
/hobbygraph-data/databases/graph.db/neostore.id
/hobbygraph-data/databases/graph.db/neostore.labelscanstore.db
/hobbygraph-data/databases/graph.db/neostore.labeltokenstore.db
/hobbygraph-data/databases/graph.db/neostore.labeltokenstore.db.id
/hobbygraph-data/databases/graph.db/neostore.labeltokenstore.db.names
/hobbygraph-data/databases/graph.db/neostore.labeltokenstore.db.names.id
/hobbygraph-data/databases/graph.db/neostore.nodestore.db
/hobbygraph-data/databases/graph.db/neostore.nodestore.db.id
/hobbygraph-data/databases/graph.db/neostore.nodestore.db.labels
/hobbygraph-data/databases/graph.db/neostore.nodestore.db.labels.id
/hobbygraph-data/databases/graph.db/neostore.propertystore.db
/hobbygraph-data/databases/graph.db/neostore.propertystore.db.arrays
/hobbygraph-data/databases/graph.db/neostore.propertystore.db.arrays.id
/hobbygraph-data/databases/graph.db/neostore.propertystore.db.id
/hobbygraph-data/databases/graph.db/neostore.propertystore.db.index
/hobbygraph-data/databases/graph.db/neostore.propertystore.db.index.id
/hobbygraph-data/databases/graph.db/neostore.propertystore.db.index.keys
/hobbygraph-data/databases/graph.db/neostore.propertystore.db.index.keys.id
/hobbygraph-data/databases/graph.db/neostore.propertystore.db.strings
/hobbygraph-data/databases/graph.db/neostore.propertystore.db.strings.id
/hobbygraph-data/databases/graph.db/neostore.relationshipgroupstore.db
/hobbygraph-data/databases/graph.db/neostore.relationshipgroupstore.db.id
/hobbygraph-data/databases/graph.db/neostore.relationshipstore.db
/hobbygraph-data/databases/graph.db/neostore.relationshipstore.db.id
/hobbygraph-data/databases/graph.db/neostore.relationshiptypestore.db
/hobbygraph-data/databases/graph.db/neostore.relationshiptypestore.db.id
/hobbygraph-data/databases/graph.db/neostore.relationshiptypestore.db.names
/hobbygraph-data/databases/graph.db/neostore.relationshiptypestore.db.names.id
/hobbygraph-data/databases/graph.db/neostore.schemastore.db
/hobbygraph-data/databases/graph.db/neostore.schemastore.db.id
/hobbygraph-data/databases/graph.db/neostore.transaction.db.0
/hobbygraph-data/databases/store_lock
/hobbygraph-data/dbms/auth
/Client1/Properties/PublishProfiles/FolderProfile.pubxml
/Client1/Properties/PublishProfiles/FolderProfile.pubxml.user
/samples/Client1/obj
/samples/Client1/bin
/samples/OAuthServer/obj
/samples/OAuthServer/bin
/src/CSharpJWT/obj
/src/CSharpJWT/bin
/src/CSharpJWT.Client/obj
/src/CSharpJWT.Client/bin
