/CSharpJWT/bin
/CSharpJWT/obj
/OAuthServer/bin
/OAuthServer/obj
/.vs/CSharpJWT/v16/.suo
/.vs/CSharpJWT/v16/Server/sqlite3/db.lock
/.vs/CSharpJWT/v16/Server/sqlite3/storage.ide
/.vs/CSharpJWT/v16/Server/sqlite3/storage.ide-shm
/.vs/CSharpJWT/v16/Server/sqlite3/storage.ide-wal
/.vs/CSharpJWT/DesignTimeBuild/*.dtbcache
/Client1/bin
/Client1/obj
/nuget
/Nuget.bat
/sample/Client1/obj
/sample/Client1/bin
/sample/OAuthServer/obj
/sample/OAuthServer/bin
/src/CSharpJWT/obj
/src/CSharpJWT/bin
/src/CSharpJWT.Client/obj
/src/CSharpJWT.Client/bin
/sample/Client1/Properties/PublishProfiles/FolderProfile.pubxml
/sample/Client1/Properties/PublishProfiles/FolderProfile.pubxml.user
